<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Contact</h5>
          <p class="grey-text text-lighten-4">In case you are wondering how can contact with me, just <a href="mailto:juanlux7@gmail.com">Send me an Email </a>
          </p>
        </div>
        
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2018 Copyright Juan Luna Lama
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>